<div class="container justify-content-center" style="width: 100%;">
    <div class="col-md-12">
        <h1 style="margin: 40px 0;">My Watchlist</h1>

        <div *ngIf="!showWatchlist" class="alert alert-warning" role="alert">
            Currently you don't have any stock in your watchlist.
        </div>
        <div *ngIf="checkData()">
            <div *ngFor="let latestPrice of latestPriceArray let i = index">

                <mat-card style="margin: 20px" [routerLink]="['/search',watchlist[i].ticker]">
                    <mat-card-content>
                        <div class="close-container">
                            <button type="button" class="btn-close" aria-label="Close" style="float: right"
                            (click)="removeFromWatchlist(i)">
                        </button>
                        </div>
                        <div class="container-lg">
                            <div class="row">
                                <div class="col-6">
                                    <div class="company-description">
                                        <h2>{{watchlist[i].ticker}}</h2>
                                        <p class="fs-6">{{watchlist[i].name}}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="company-prices">
                                        <h2 [class.up-color]="latestPrice.d > 0" [class.down-color]="latestPrice.d < 0">
                                            {{latestPrice.c}}
                                        </h2>
                                        <div [class.up-color]="latestPrice.d > 0"
                                            [class.down-color]="latestPrice.d < 0">
                                            <i *ngIf="latestPrice.d > 0" class="bi bi-caret-up-fill"></i>
                                            <i *ngIf="latestPrice.d < 0" class="bi bi-caret-down-fill"></i>
                                            <span>{{latestPrice.d}}({{latestPrice.dp.toFixed(2)}}%)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>